
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactlibrary">
    <receiver android:name="com.reactlibrary.UnitechReceiver">
        <intent-filter>
            <action android:name="unitech.scanservice.data"/>
        </intent-filter>
    </receiver>
</manifest>
  